body {
	background-color: #cccccc;
}
.main {
	background-color: white;
	display: block;
	width: 500px;
	margin: 10px auto;
	height: 400px;
	padding: 10px;

}
#content {
	
	clear: both;
}

#btn {
	display: block;
	width: 100px;
	height: 30px;
	margin-top:  10px;
	padding-top: 5px; 
	text-align: center;
	vertical-align: middle; 
	border: 1px solid black;
	text-decoration: none;
	color : black;
	float:left;
}
#btnC{
	display: block;
	text-align: center;
	vertical-align: middle; 
	border: 1px solid black;
	text-decoration: none;
	float: right;
	padding-top: 5px; 
	margin-top: 10px;
	color : black;
	width: 200px;
	height: 30px;

}

#list{
	
	clear: both; 

}


